/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Work Sans"), local("WorkSans-Regular"), url(https://fonts.gstatic.com/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Work Sans"), local("WorkSans-Regular"), url(https://fonts.gstatic.com/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: local("Permanent Marker Regular"), local("PermanentMarker-Regular"), url(https://fonts.gstatic.com/s/permanentmarker/v7/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* thai */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local("Kanit Regular"), local("Kanit-Regular"), url(https://fonts.gstatic.com/s/kanit/v3/nKKZ-Go6G5tXcraBGwCYdA.woff2) format("woff2");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC; }

/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local("Kanit Regular"), local("Kanit-Regular"), url(https://fonts.gstatic.com/s/kanit/v3/nKKZ-Go6G5tXcraaGwCYdA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local("Kanit Regular"), local("Kanit-Regular"), url(https://fonts.gstatic.com/s/kanit/v3/nKKZ-Go6G5tXcrabGwCYdA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local("Kanit Regular"), local("Kanit-Regular"), url(https://fonts.gstatic.com/s/kanit/v3/nKKZ-Go6G5tXcraVGwA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

* {
  -webkit-overflow-scrolling: touch; }

html, body {
  font-family: 'Work Sans', sans-serif;
  height: 100%;
  width: 100%;
  min-width: 300px;
  position: relative; }

@keyframes fadedown {
  0% {
    opacity: 0; }

  2% {
    opacity: 0;
    transform: translateY(-30px); }

  5% {
    opacity: 1;
    transform: translateY(0px); }

  17% {
    opacity: 1;
    transform: translateY(0px); }

  20% {
    opacity: 0;
    transform: translateY(30px); }

  80% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@keyframes hoverFade {
  from {
    bottom: 0;
    opacity: 1; }

  to {
    bottom: 10px;
    opacity: .3; } }

.intro {
  height: 100vh;
  width: 100%;
  min-height: 676px;
  background: url("../images/trianglify.svg") no-repeat;
  background-size: cover;
  font-weight: 100;
  overflow: hidden; }
  .intro .intro-header {
    font-weight: 100;
    font-size: 1.7em;
    letter-spacing: 2px;
    margin: .5em 0;
    color: #454545;
    text-align: center; }
    .intro .intro-header .ideas {
      font-family: 'Permanent Marker', sans-serif;
      font-size: 2.1em;
      display: block;
      letter-spacing: 10px;
      margin: .3em 0;
      color: #F9FCFF; }
    .intro .intro-header .reality {
      text-transform: uppercase;
      font-family: 'Kanit', sans-serif;
      font-size: 2em;
      font-weight: 300;
      display: block;
      letter-spacing: 3px;
      margin: .3em 0; }
  .intro hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #cccccc, #333333, #cccccc);
    z-index: 1;
    margin: 1em 0; }
  .intro .intro-p {
    font-weight: 100;
    text-align: center;
    margin-top: 2em; }
    .intro .intro-p .keyword {
      background-color: rgba(105, 109, 125, 0.5);
      border-radius: 5px;
      box-shadow: 0 4px 5px 2px #848897;
      padding: 10px;
      position: relative;
      height: 100px;
      width: auto;
      max-width: 493px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 900;
      font-size: 1em;
      font-family: 'Kanit', sans-serif;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin: 2em auto;
      color: #DEDEDE; }
      .intro .intro-p .keyword span {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        animation: fadedown 11.5s linear infinite 0s; }
      .intro .intro-p .keyword span:nth-child(2) {
        animation-delay: 2.5s; }
      .intro .intro-p .keyword span:nth-child(3) {
        animation-delay: 5.5s; }
      .intro .intro-p .keyword span:nth-child(4) {
        animation-delay: 8.5s; }
  .intro .down {
    bottom: 0;
    font-size: 1.5em;
    margin: 1em auto;
    animation: hoverFade 1s infinite alternate;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: none;
    border: none; }
    .intro .down a {
      color: #EAF5FD; }
  .intro .down:active {
    background-color: #696d7d;
    color: white; }
  .intro .down:focus {
    outline: none; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.sticky + .projects {
  padding-top: 60px; }

.navbar {
  background-color: #4d678a;
  width: 100%; }
  .navbar .navbar-brand {
    color: #D6DDE7; }
  .navbar .navbar-toggler {
    border: 1px solid #D6DDE7; }

.projects {
  background-color: #DAE0E8;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  overflow: hidden; }
  .projects .proj-title {
    text-align: center;
    margin: 1.5em;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .projects .proj-carousel {
    padding: 0; }
    .projects .proj-carousel .prev-proj, .projects .proj-carousel .next-proj {
      font-size: 1.5em; }
    .projects .proj-carousel .prev-proj {
      position: absolute;
      top: 50%;
      left: -25px; }
    .projects .proj-carousel .next-proj {
      position: absolute;
      top: 50%;
      right: -25px; }
    .projects .proj-carousel .each-proj {
      opacity: .8;
      transform: scale(0.95); }
    .projects .proj-carousel .slick-center {
      opacity: 1;
      transform: scale(1); }
    .projects .proj-carousel .skills-used {
      margin: 1rem 0; }
    .projects .proj-carousel .view-code {
      text-align: center; }

.about-me {
  background: #64A492; }
  .about-me h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 1em; }
  .about-me .about-content {
    background-color: #fff;
    border-radius: 5px;
    max-width: 790px; }
    .about-me .about-content .upper {
      margin: 2em 0; }
      .about-me .about-content .upper .portrait-img {
        width: 170px;
        height: 170px;
        margin: 1em auto; }
        .about-me .about-content .upper .portrait-img img {
          height: 100%;
          width: 100%;
          border-radius: 50%; }
    .about-me .about-content .lower .hobby-img {
      width: 170px;
      height: 170px;
      margin: 1em auto; }
      .about-me .about-content .lower .hobby-img img {
        height: 100%;
        width: 100%;
        border-radius: 5px; }

.resume {
  background-color: #4d678a; }

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }

  to {
    bottom: 0;
    opacity: 1; } }

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }

  to {
    bottom: 0;
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.view-skills {
  background-color: #4d678a;
  width: 100%; }
  .view-skills .skills-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.4s; }
    .view-skills .skills-modal .modal-content {
      position: fixed;
      bottom: 0;
      background-color: #fefefe;
      width: 100%;
      animation-name: slideIn;
      animation-duration: 0.4s;
      border: none;
      border-radius: 0;
      max-height: 406px;
      overflow-y: scroll; }
      .view-skills .skills-modal .modal-content .skills-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        min-width: 254px; }
        .view-skills .skills-modal .modal-content .skills-container .each-icon {
          font-size: 3em;
          text-align: center; }
          .view-skills .skills-modal .modal-content .skills-container .each-icon .skill-label {
            font-size: 1rem; }
      .view-skills .skills-modal .modal-content .btn-danger {
        position: sticky;
        top: 0;
        width: 100%;
        border-radius: 0;
        min-height: 50px; }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }

.contact {
  background-color: #6984a4;
  position: relative; }
  .contact .contact-contents {
    background: #47628B;
    padding: 2em;
    margin: 3em;
    border-radius: 5px; }
  .contact .contact-intro {
    color: #f2f2f2; }
    .contact .contact-intro h1 {
      font-weight: 400;
      letter-spacing: 2px;
      margin-top: .5em !important; }
    .contact .contact-intro .available {
      box-shadow: 0 0 3px 1px #41444F, 0 0 3px 1px #41444F, 0 0 3px 1px #41444F;
      border: 2px solid #edda08;
      color: #edda08;
      text-transform: uppercase; }
    .contact .contact-intro .contact-desc {
      max-width: 484px;
      margin: 0 auto; }
  .contact .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .contact .email-form .label-name, .contact .email-form .label-email, .contact .email-form .label-message {
      max-width: 484px; }
    .contact .email-form .label-name, .contact .email-form .label-email {
      position: relative;
      width: 100%; }
      .contact .email-form .label-name span, .contact .email-form .label-email span {
        position: absolute;
        left: 7px;
        top: 2px;
        color: #6984a4; }
      .contact .email-form .label-name .email-input, .contact .email-form .label-name .name-input, .contact .email-form .label-email .email-input, .contact .email-form .label-email .name-input {
        text-indent: 30px;
        width: 100%; }
    .contact .email-form .label-message {
      width: 100%;
      height: 30%; }
      .contact .email-form .label-message .message-input {
        width: 100%;
        height: 100%; }
    .contact .email-form .submit-email {
      margin: 1em; }

.contact-footer {
  background-color: #284a6f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8em; }
  .contact-footer .up {
    font-size: 2em;
    position: absolute;
    top: -15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .contact-footer .up .fa-circle {
      color: #6984a4; }
  .contact-footer .external-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 509px; }
    .contact-footer .external-links .links-container {
      height: 80%;
      width: auto;
      color: #B7D5FF; }
      .contact-footer .external-links .links-container svg {
        font-size: 3em; }
    .contact-footer .external-links .links-container:hover {
      animation: 1s spin; }
    .contact-footer .external-links .linked-in:hover {
      color: #0077b5; }
    .contact-footer .external-links .github:hover {
      color: #fff; }
    .contact-footer .external-links .codepen:hover {
      color: #0ebeff; }
    .contact-footer .external-links .instagram:hover {
      color: #c13584; }

@media (min-width: 425px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr) !important; } }
@media (min-width: 768px) {
  .intro .intro-header {
    line-height: 3em;
    margin-top: 2em; }
    .intro .intro-header .ideas, .intro .intro-header .reality {
      display: inline;
      margin: 0 .2em; }
  .intro hr {
    margin-top: 3em; }

  .about-me .about-content .upper {
    display: flex; }
    .about-me .about-content .upper .portrait-img {
      margin: 1em;
      width: 30%;
      max-height: 170px;
      max-width: 184px; }
    .about-me .about-content .upper div {
      width: 70%;
      margin: 1em; }
  .about-me .about-content .lower {
    display: flex;
    flex-direction: row-reverse; }
    .about-me .about-content .lower div {
      width: 70%;
      margin: 1em; }
    .about-me .about-content .lower .hobby-img {
      width: 30%;
      max-width: 172px;
      margin: 1em; } }
@media (min-width: 1024px) {
  .projects {
    align-items: center; }
    .projects .proj-carousel {
      width: 90%; } }
